# Frontend
streamlit

# Utilities
numpy
pandas

# Machine Learning & Images
scikit-learn
pillow

# Face Recognition (Streamlit handles compiling if cmake is in packages.txt)
dlib
face_recognition

# Database & Security
supabase
bcrypt 

# Other Utilities
segno
librosa
resemblyzer
